# Ignore everything
*

# But not Java files...
!.gitignore
!*.java
!README.md
!PROFILING.md
!TANK.md
!LICENSE
!gradlew.bat
!gradlew
!build.gradle.kts
!.travis.yml
!settings.gradle
!checkstyle.xml
!.codeclimate.yml
!profiling_sharding/*
!profiling_async/*
!profiling_replication/*
!profiling_future/*

# ...even if they are in subdirectories
!*/
